.publish-on-field.MuiFormLabel-root {
  font-weight: 600;
}
.banner-img-heading {
  font-size: 14px !important;
  text-align: center !important;
  color: grey !important;
  padding: 70px !important;
}
.banner-img-subheader {
  margin: 0px;
  font-size: 14px;
  font-weight: 500;
}
.banner-calendar-icon {
  height: 40px;
  width: 37px;
  position: relative;
  top: 10px;
}
