.portal-side {
  width: 100%;
  position: relative;
  top: 30px;
  left: 40px;
}
.portal-body {
  width: 100%;
  position: relative;
  margin-top: 7%;
}
.portal-link-rows {
  width: 95%;
  float: left;
  position: absolute;
  margin-top: 0px;
  margin-left: 65px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.portal-link-rows a {
  padding-right: 50px;
}
.square {
  border: 2px solid #ffffff;
  opacity: 1;
  border-radius: 30px;
  height: 128px;
  width: 128px;
}
.square:nth-child(n + 1) {
  margin-left: 12px;
  margin-top: 8px;
}
.square:hover {
  background-color: #602160;
}
.square-image {
  height: 70px;
  width: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  position: relative;
}
.inactive-portals {
  opacity: 0.3;
}
.inactive-portals:hover {
  background-color: transparent !important;
}
.portal-card-logo.card-logo {
  margin-left: 0px;
}
.portal-description {
  text-decoration: none !important;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.portal-logo-size.home_page_logo.home_page_logo {
  height: 55px;
}
