<!doctype html>
<html>
<body>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td class="container">
        <div class="content">
          {{> header}}
          <table role="presentation" class="main">
            <tr>
              <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <h1>Hi {{name}},</h1>
                      <p>Welcome to Simon!</p>

                      <p><b>Here are some resources to help you get started:</b></p>
                      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td>
                            <ul>
                              <li>
                                Guides on <a href="#">listing a space </a>
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td>
                                      <ul>
                                        <li>
                                          All you need are photos (pictures from your phone are fine), a rough price,
                                          and your post code to get started.
                                        </li>
                                      </ul>
                                    </td>
                                  </tr>
                                </table>
                              </li>
                              <li>
                                Guides on
                              </li>
                              <li>
                                <a href="#">and phone support</a> (we’re always here to help)
                              </li>
                              <li>
                                Don’t see the perfect space for you? Tell us what you’re looking for and we’ll search for it for you: <a href="https://survey.survicate.com/b39d3957d669749d/?utm_source=newsletter&utm_medium=email&utm_campaign=User%20welcome%20email%20v1">Simply fill out this form</a>
                              </li>
                              <li>
                                Want to hear about exciting news and upcoming features? <a href="#">Sign up here</a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </table>


                      <p>We’re working hard to find spaces for you that fall under any of the following categories: affordable, convenient, or inspiring.</p>
                      <p>The more people who know about Innovate5G, the better a service we can offer. Tell your friends and help us build the largest community of artists and creative spaces in London.</p>
                      <p>Our team is here to help you in any way we can, so don't hesitate to reach out if you have a question, encounter an issue, or need guidance. </p>
                      <p>We look forward to helping you find the perfect space. </p>
                      <br/>

                      <p>If you want to follow us on social media, where we share updates about new spaces, and interesting articles & information about the arts, click the links in the footer below:

                      </p>

                      <p>We also have a dedicated facebook group for our community members: <a href="https://www.facebook.com/groups/267141894124953/?utm_source=newsletter&utm_medium=email&utm_campaign=User%20welcome%20email%20v1">UK Spaces for Creatives</a></p>
                      <p>Last of all, I wanted to introduce our friendly neighbourhood bot, Notey. You will receive a number of emails from him, and he will often reply to you instantly in chat, if a human member of the team is not available.</p>
                      <div style="padding-top:4px;width: 15%;margin: 0 auto;">
                        <a href="#" target="_blank">
                          <img width="auto" height="70" title="Notey" alt="Notey logo"
                            src="#" />
                        </a>
                      </div>
                      <br/>

                      <p>
                        Thank you for joining us in these exciting early days,
                        <br/>
                        Gabriel & the Team @Simon
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- Footer -->
          <div class="footer">
            {{> footer}}
          </div>
        </div>
      </td>
    </tr>
  </table>
</body>

</html>
