<!--<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <a href="https://www.simon.com/" target="_blank">
        <img width="30" height="30" alt="Simon Logo"
          src="" />
      </a>
    </td>
  </tr>-->
  <!--<tr>-->
    <!--<td>-->
        <!--<a href="https://twitter.com/tutti_space" target="_blank">-->
          <!--<img width="18" height="18" alt="Tutti Twitter.png"-->
            <!--src="https://res.cloudinary.com/maddyscloud/image/upload/v1579687374/Twitter_nvifef.png" />-->
        <!--</a>-->

        <!--<a href="https://www.instagram.com/tutti.space/" target="_blank">-->
          <!--<img width="18" height="18" alt="Tutti Instagram.png"-->
            <!--src="https://res.cloudinary.com/maddyscloud/image/upload/v1579687299/Instagram_rwfonb.png" />-->
        <!--</a>-->

        <!--<a href="https://www.facebook.com/tuttispaceofficial" target="_blank">-->
          <!--<img width="18" height="18" alt="Tutti Facebook.png"-->
            <!--src="https://res.cloudinary.com/maddyscloud/image/upload/v1579687378/Facebook_j0gr6o.png" />-->
        <!--</a>-->
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->
